*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;

}

.headerTitle {
	color: white;
	font-weight: 200;
	font-size: 60px;
	margin: 25% auto;
}

.descriptionHome {
	color: white;
	font-weight: 100;
	font-size: 18px;
	line-height: 1.5;
}

.btnClick {
	font-weight: 200;
	font-size: 28px;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 0 5% 25%;
	text-decoration: none;
	color: rgb(40, 5, 41);
	border: 1px solid white;
	background-color: #c5c9e1;
}