.gridContainer {
	display: flex;
	justify-content: center;
	height: 100%;
}

.header {
	margin: 0.6em;
	color: rgb(255, 255, 255);
	font-weight: 200;
	font-size: 30px; /*должно меняться в зависимости от размера экрана тогда*/
	justify-content: center;
	text-align: center;
	margin: 10% auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	padding: 10px;

}

.card {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30vw;
	max-width: 120px;
}

img {
	border-radius: 15px;
	max-width: 30vw;
}


@media (min-height: 360px) and (max-height: 400px) {
	.grid {
		padding: 10px;
	}

	.card {
		align-items: center;
		max-width: 100px;
	}
}