/* Стили по умолчанию для небольших устройств (до 320px) */
* {
	font-family: 'Comfortaa', sans-serif;
	max-width: 500px;
	background-color: #16254F;
}

html,
body {
	height: 100%;
	margin: 0;

	background-size: cover;
	background-repeat: no-repeat;
}

/* 320px - небольшие экраны, вроде iPhone SE */
@media (min-width: 320px) {
	.container {
		width: 90%;
		height: auto;
	}

	.btn_click {
		width: 100%;
		height: 50px;
	}

}

/* 375px - более крупные экраны (iPhone X, iPhone 12) */
@media (min-width: 375px) {
	.container {
		width: 95%;
		height: auto;
	}

	.btn_click {
		width: 100%;
		height: 55px;
	}

	.main_img {
		width: 120px;
	}
}

/* 414px - крупные устройства (iPhone 11 Pro Max, iPhone 12 Pro Max) */
@media (min-width: 414px) {

	.btn_click {
		width: 100%;
		height: 60px;
	}

	.main_img {
		width: 140px;
	}
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 500ms;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 400ms;
}